<ul>
  <li><a routerLink='accessibility'>Accessibility</a></li>
  <li><a [routerLink]="'bug_tracker'">Akita with EntityStore</a></li>
  <li><a [routerLink]="'akita_simple'">Akita with simple Store</a></li>
  <li><a [routerLink]="'simple-todo'">Simple Todo</a></li>
  <li><a [routerLink]="'full-feature-todo'">Full Feature Todo App</a></li>
  <li><a [routerLink]="'parent-child'">Communication - Parent to child</a></li>
  <li><a [routerLink]="'host-listeners'">Host Listeners</a></li>
  <li><a [routerLink]="'forms'">Forms</a></li>
  <li><a [routerLink]="'template-variable'">Template variables and ng-template</a></li>
  <li><a [routerLink]="'pagination-example'">Pagination example</a></li>
  <li><a [routerLink]="'notification'">Send notification</a></li>
  <li><a [routerLink]="'style'">Style</a></li>
  <li><a [routerLink]="'events'">Events</a></li>
  <li><a routerLink='/'>Add observables examples</a></li>
  <li><a routerLink='/'>Access to variables. Parent-child/Child-parent.</a></li>
  <li><a routerLink='view-child'>View Child</a></li>
  <li><a routerLink='instances'>How many instances?</a></li>
</ul>
