
<mat-form-field appearance="fill">
  <mat-label>Pick you character</mat-label>
  <mat-select *ngIf="displayList.length > 0" (change)="onChange()"
  >
    <!--select can have onChange() to handle selection to show selected option as a simper one -->

    <mat-option
      *ngFor="let someone of displayList; let counter = index"
      [value]="someone.name"
    >
      {{counter+1}}
      <ng-container
        [ngTemplateOutlet]="displayTemplate"
        [ngTemplateOutletContext]="{$implicit: someone}">
      </ng-container>
    </mat-option>
  </mat-select>
</mat-form-field>

<!--
is not supported by angular material?
[selected]="someone.name === 'joe'">
-->
