<h2 style="color: blueviolet">Todo app. State management with Akita. Simple Store.<small>component name: akita-simple</small></h2>
<ul>
  <li *ngFor="let todo of atodos$ | async">
    {{todo.message}}
    <button (click)="deleteTodo_a(todo.id)">Delete</button>
    <button (click)="editTodo_a(todo)">Edit</button>
  </li>
</ul>

<div *ngIf="!isEditing">
  <input [(ngModel)]="todo_message"  (keyup.enter)="addTodo_a()">
  <button (click)="addTodo_a()">Add</button>
</div>

<div *ngIf="isEditing">
  <input [(ngModel)]="todo_message" (keyup.enter)="finishEdit_a()">
  <button (click)="finishEdit_a()">Update</button>
</div>
