<ng-container *ngIf="!isEditing; else editIt">
  <input [formControl]="todo"  (keyup.enter)="addTodo()">
  <button (click)="addTodo()">Add</button>
</ng-container>

<ng-template #editIt>
  <input [formControl]="todo" (keyup.enter)="updateTodo()">
  <button (click)="updateTodo()">Update</button>
</ng-template>



<!--<div *ngIf="!isEditing">
  <input [(ngModel)]="todo"  (keyup.enter)="addTodo()">
  <button (click)="addTodo()">Add</button>
</div>

<div *ngIf="isEditing">
  <input [(ngModel)]="todo" (keyup.enter)="updateTodo()">
  <button (click)="updateTodo()">Update</button>
</div>-->


