<p>accessibility works!</p>

<h4>Links and Accessibility</h4>
<ul>
  <li><a href="/accessibility">Read more full description of 1st post</a></li>
  <li><a href="/accessibility"><span class="sr-only">Read more full description of 1st post</span></a></li>
  <li><a href="/accessibility" class="sr-only">Read more full description of 1st post</a></li>
</ul>

<ul>
  <li>Universel utforming - 7 principles</li>
  <li>WCAG - 4 principles <a href="https://www.w3.org/TR/WCAG21/#perceivable"></a></li>
  <li>WAI-ARIA - 5 principles</li>
</ul>

<p><a href="https://www.uutilsynet.no/">uutilsynet.no</a></p>


