<p [attr.style]="'color: orange; font-size: 1.5rem'">
  [attr.style]="'color: orange; font-size: 1.5rem'"
</p>

<p style="color: lightgreen"
[style]="'background: grey'">
  style="color: lightgreen"
  [style]="'background: grey'"
</p>

<p [style.text-decoration]="'underline'">
  [style.text-decoration]="'underline'"
</p>

<p [ngStyle]="{'text-decoration': 'line-through'}" >
  [ngStyle]="&#123;'text-decoration': 'line-through'&#125;"
</p>

<p [ngStyle]="paraStyle()" >
  [ngStyle]="paraStyle()" - use to add CSS properties based on content data. Example - can use background-image based on object url.
</p>

<p [ngClass]="paraClass()" >
  [ngClass]="paraClass()" - this should be preferable method to add CSS classes based on content data.
</p>

<p [ngClass]="selectedItem === 1 ? 'box1' : ''">
  [ngClass]="selectedItem === 1 ? 'box1' : ''"
</p>

<p [ngClass]="{'box1': true, skirt: true}">
  [ngClass]="&#123;'box1': true, skirt: true&#125;"
</p>

<!--<p [ngClass]="selectedItem === 1 && 'box1'">
  [ngClass]="true && 'box1'"
</p>-->

<p>make a toggle to take input "grey" and toggle between lightgrey and grey</p>
